# Python virtual environment
venv/
.env

# Python cache files
__pycache__/
*.pyc

# IDE and editor specific files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Frontend dependencies
node_modules/